/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

/* PRIMERA PÁGINA → azul fuerte */
body.home {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

/* PELÍCULAS → azul clarito */
body.peliculas {
    background: linear-gradient(135deg, #b3d9ff, #e6f2ff);
}

/* Contenedor central */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Títulos */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    margin-bottom: 30px;
}

/* Botón */
.btn, .boton-nuevo {
    text-decoration: none;
    background-color: #ff9800;
    color: #222;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.btn:hover,
.boton-nuevo:hover {
    background-color: #ffc107;
    transform: scale(1.05);
}

